* {
    margin:0px;
    padding:0px;
}

#header {
    display:flex;
    justify-content: right;
    font-family:Arial, Helvetica, sans-serif;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#326558;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}